<!-- FOOTER -->
<footer id="main-footer" class="text-white text-center py-5" data-aos="fade-up" style="background-color:#008080;">
    <div class="container">
        <div class="row">
            <div class="text-md-start col-md-4 me-auto">
                <h5>{{footer.judul}}</h5>
                <p>
                    {{footer.alamat}}
                </p>
                <small>&copy; Developer by: <a href="https://maldevtech.com" style="text-decoration: none; color:white;">Maldevtech 2023</a> 
                    <ion-icon name="heart" size="small"></ion-icon></small>
            </div>
            <div class="text-md-start col-md-4 mt-4 mt-md-0">
                <h5>Hubungi Kami</h5>
                <div><i class="bi-envelope fs-5 me-3"></i>{{footer.email}}</div>
                <div><i class="bi-phone fs-5 me-3"></i>{{footer.nohp}}</div>
                <div><i class="bi-globe fs-5 me-3"></i>adventlubukpakam.sch.id</div>
                <div class="pt-3">
                    <a href="{{footer.fb}}" class="text-white text-decoration-none me-2">
                        <i class="bi-facebook fs-5"></i>
                    </a>
                    <a href="{{footer.tw}}" class="text-white text-decoration-none me-2">
                        <i class="bi-twitter fs-5"></i>
                    </a>
                    <a href="{{footer.ig}}" class="text-white text-decoration-none me-2">
                        <i class="bi-instagram fs-5"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>