<div class="container-fluid py-3" style="background-color:#3085C3">
    <div class="row">
        <div class="col-md-8">
            <h5 class="bold" style="color:#F4E869;">{{waktu}}</h5>
        </div>
        <div class="col-md-4">
            <a href="#" class=" se text-decoration-none me-2">
                <i class="bi-facebook fs-5" style="color: #F4E869;"></i>
            </a>
            <a href="#" class="text-decoration-none me-2">
                <i class="bi-twitter fs-5" style="color: #F4E869;"></i>
            </a>
            <a href="#" class="text-decoration-none me-2">
                <i class="bi-instagram fs-5" style="color: #F4E869;"></i>
            </a>
            <a href="#" class="text-decoration-none me-2">
                <i class="bi-whatsapp fs-5" style="color: #F4E869;"></i>
            </a>
        </div>
    </div>
</div>

<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{header.foto.url}}" class="d-block w-100" alt="..." style="height:500px;">
        </div>
    </div>
</div>