<nav class="navbar navbar-expand-lg justify-content-center" style="background-color: #008080;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'beranda' %}"><ion-icon name="home" size="large"
                style="color:white"></ion-icon></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"
            style="color: white;">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'beranda' %}" style="color: white;">BERANDA</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" style="color: white;">
                        PROFIL
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'beranda-sejarah' %}">Sejarah Singkat</a></li>
                        <li><a class="dropdown-item" href="{% url 'beranda-prakata' %}">Prakata Kepala Sekolah</a></li>
                        <li><a class="dropdown-item" href="{% url 'beranda-visi' %}">Visi dan Misi</a></li>
                        <li><a class="dropdown-item" href="{% url 'beranda-struktur' %}">Struktur Organisasi</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" style="color: white;">
                        KURIKULUM
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'beranda-kurikulum' %}">Kurikulum</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" style="color: white;">
                        PROGRAM SEKOLAH
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'programsekolah' %}">Program Kerja</a></li>
                        <li><a class="dropdown-item" href="#">Peraturan-peraturan Permendikbud</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" style="color: white;">
                        GTK
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Informasi Guru</a></li>
                        <li><a class="dropdown-item" href="#">Informasi Tenaga Pendidikan</a></li>
                        <li><a class="dropdown-item" href="#">Prestasi Guru</a></li>
                        <li><a class="dropdown-item" href="#">Tugas dan Fungsi</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" style="color: white;">
                        KESISWAAN
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Prestasi Siswa</a></li>
                        <li><a class="dropdown-item" href="#">Informasi Peserta didik</a></li>
                        <li><a class="dropdown-item" href="#">Ekstrakulikuler</a></li>
                        <li><a class="dropdown-item" href="#">Osis</a></li>
                        <li><a class="dropdown-item" href="#">Beasiswa</a></li>
                        <li><a class="dropdown-item" href="#">Informasi Pemetaan Lulusan</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" style="color: white;">
                        KEGIATAN SEKOLAH
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Agenda Kegiatan</a></li>
                        <li><a class="dropdown-item" href="#">PPDB (Penerimaan Peserta Didik Baru)</a></li>
                        <li><a class="dropdown-item" href="#">Laporan Kegiatan Sekolah</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" style="color:white">
                        DOWNLOAD
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Produk Hukum</a></li>
                        <li><a class="dropdown-item" href="#">Kurikulum Merdeka</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" style="color:white">
                        LINK TERKAIT
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="disdik.deliserdangkab.go.id">Dinas Pendidikan Deli
                                Serdang</a></li>
                        <li><a class="dropdown-item" href="https://www.kemdikbud.go.id">Kementrian Pendidikan</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:white">INOVASI SEKOLAH</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'beranda-contact' %}" style="color:white">KONTAK</a>
                </li>
            </ul>
        </div>
    </div>
</nav>