{% extends "base.html" %}

{% block contents %}
{% include "snippet/header.html" %}
<!-- SHOWOFF 1 -->
<section id="showoff-1" class="bg-light text-muted py-5" data-aos="fade-up">
    <div class="container">
    <div class="row">
        <div class="col">
        <ol class="breadcrumb bg-white ms-0 mt-4 mb-4">
            <li class="breadcrumb-item">
                <a href="{% url 'beranda' %}" class="text-info text-decoration-none">
                    Home</a>
            </li>
            <li class="breadcrumb-item active">Program Sekolah</li>
        </ol>
        </div>
    </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Program Sekolah</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <tr>
                        <th>Program Kerja</th>
                        <th>Keterangan</th>
                    </tr>
                    {% for p in programkerja  %}
                            <tr>
                                <td>{{p.judul}}</td>
                                <td>{{p.isi}}</td>
                            </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock contents %}