{% extends "backend/master.html" %}
{% load crispy_forms_tags %}

{% block dashboard %}
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <form action="{% url 'prakatasmp' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form | crispy}}
                <img src="{{prakatasmp.fotosmp.url}}" alt="" srcset="" style="height: 200px; width:400px">
                <br>
                <button type="submit" class="btn btn-primary mt-2 ">Update</button>
                <br>
            </form>
        </div>
    </div>
</div>
{% endblock dashboard %}